/* * {
  border: 1px solid red;
} */

body {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 60px 10px 10px 10px;
  width: 75vw;
}

.flex-center-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  margin-top: 30px;
}

.flex-wrap-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.center-text {
  text-align: center;
}

ul {
  list-style-position: inside;
  padding: 0px;
}

.no-bullets {
  list-style-type: none;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

.height250 {
  height: 250px;
}

.height175 {
  height: 175px;
}

.italisize {
  font-style: italic;
}
.padding1 {
  padding: 1px;
}

.bg-gradient-black-green {
  background-image: linear-gradient(to bottom 
    right,rgba(0,0,0,1),rgba(9,71,0,1),rgba(0,0,0,1) )
}

.text-white {
  color: white;
}

.padding10 {
  padding: 10px;
}

.padding30 {
  padding: 30px;
}

.padding-bottom10 {
  padding-bottom: 10px;
}

.text-bold {
  font-weight: bold;
}

#errorImgContainer {
  background-image: url('./images/404Error.png');
  background-color: rgb(255,255,255);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  background: rgba(255, 255, 255, 0.7); 
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.caption h3, .caption p {
  margin: 0;
}

.caption h3 {
  font-size: 1.2rem;
}

.caption p {
  font-size: 1rem;
}

.remove-margin {
  margin: 0px;
}

.remove-margin-bottom {
  margin-bottom: 0px;
}

.remove-padding {
  padding: 0px;
}

.margin-right10 {
  margin-right: 10px;
}